#CmdInput #Data{
    width:500px
}

#Content{
    white-space: pre-line
}
#mapid { 
    height: 768px; 
    width: 1024px;
}

#label{
    position:absolute;
    left:1050px;
    top:180px;
}

#CmdInput{
    width: 450px;
}